
<h1>Home</h1>

<div>
	<label class="btn btn-primary <%= 'active' if params[:controller] == 'friends' %>" href="/friends-posts">
		<a class="post-display-buttons" href="/friends-posts">Friends</a>
	</label>
	<label class="btn btn-primary <%= 'active' if params[:controller] == 'myposts' %>" href="/myposts">
		<a class="post-display-buttons" href="/myposts">My Posts</a>
	</label>
	<label class="btn btn-primary <%= 'active' if params[:controller] == 'home' %>" href="/">
		<a class="post-display-buttons" href="/">All</a>
	</label>
</div>
<button class="btn btn-primary" style="float: right;" id="new-post">New Post</button>
<button class="btn btn-primary" style="float: right; display: none;" id="nevermind">Nevermind...</button>
<br>
<hr>
<br>

<% if params[:controller] == 'home' %>
	<% Post.all.reverse.each do |post| %>

<form class="post-box" id="<%= post.created_at %>" action="/profile" method="POST">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author">
		<input type="hidden" name="this_user" value="<%= post.user.name %>">
		<a onclick="document.getElementById('<%= post.created_at %>').submit();"><%= post.user.name %></a>
	</div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</form>

	<% end %>
<% end %>

<% if params[:controller] == 'friends' %>
	<% Post.all.reverse.each do |post| %>

<form class="post-box" id="<%= post.created_at %>" action="/profile" method="POST">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author">
		<input type="hidden" name="this_user" value="<%= post.user.name %>">
		<a onclick="document.getElementById('<%= post.created_at %>').submit();"><%= post.user.name %></a>
	</div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</form>

	<% end %>
<% end %>

<% if params[:controller] == 'myposts' %>
	<% @user.posts.all.reverse.each do |post| %>

<form class="post-box" id="<%= post.created_at %>" action="/profile" method="POST">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author">
		<input type="hidden" name="this_user" value="<%= post.user.name %>">
		<a onclick="document.getElementById('<%= post.created_at %>').submit();"><%= post.user.name %></a>
	</div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</form>

	<% end %>
<% end %>

<div class="new-post-box">
	<form action="/home" method="POST">
		<input type="text" class="new-post-title" name="title">
		<textarea name="content" id="new-post" ></textarea>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>
	