
<h1>Home</h1>

<div class="btn-group">
	<!-- <label class="btn btn-primary <%= 'active' if params[:controller] == 'friends' %>" href="/friends-posts"> -->
		<a href="/friends-posts">Friends</a>
	<!-- </label> -->
	<!-- <label class="btn btn-primary <%= 'active' if params[:controller] == 'myposts' %>" href="/myposts"> -->
		<a href="/myposts">My Posts</a>
	<!-- </label> -->
	<!-- <label class="btn btn-primary <%= 'active' if params[:controller] == 'home' %>" href="/"> -->
		<a href="/">All</a>
	<!-- </label> -->
</div>
<button class="btn btn-primary" style="float: right;" id="new-post">New Post</button>
<br>
<hr>
<br>

<% if params[:controller] == 'home' %>
<% Post.all.reverse.each do |post| %>

<div class="post-box">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author"><%= post.user.name %></div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</div>

<% end %>
<% end %>

<% if params[:controller] == 'friends' %>
<% Post.all.reverse.each do |post| %>

<div class="post-box">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author"><%= post.user.name %></div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</div>

<% end %>
<% end %>

<% if params[:controller] == 'myposts' %>
<% @user.posts.all.reverse.each do |post| %>

<div class="post-box">
	<div class="post-title"><%= post.title %></div>
	<div class="post-author"><%= post.user.name %></div>
	<div class="post-time"><%= post.created_at %></div>
	<div class="post-content"><%= post.content %></div>
</div>

<% end %>
<% end %>

<div class="new-post-box">
	<form action="/home" method="POST">
		<input type="text" class="new-post-title" name="title">
		<textarea name="content" id="new-post" ></textarea>
		<button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>
	