<h1>Profile</h1>


<div><%= @user.name %></div>
<div><%= @user.email %></div>
<div><%= @user.created_at %></div>
<div><%= @user.image %></div>


<div><%= @other_user.name %></div>
<div><%= @other_user.email %></div>
<div><%= @other_user.created_at %></div>
<div><%= @other_user.image %></div>